services:
    web:
        build: .
        env_file:
            - .env
        ports:
            - "3001:3000"
        volumes:
            - /sys/class/thermal:/sys/class/thermal:ro
        environment:
            NODE_ENV: production
        restart: unless-stopped
